#(project
  (#(deps (#("rvirding/lfe" "develop")
           #("lfex/lcfg" "master")
           #("lfex/logjam" "master")))
   #(meta (
     #(name linat)
     #(description "An Erlang/LFE Client for the iNaturalist REST API")
     #(version "0.0.1")
     #(keywords ("LFE" "Lisp" "Library" "REST" "Nature" "Naturalist"
                 "Science" "Biodiversity" "Observational Data"))
     #(maintainers (
       (#(name "sdytr") #(email "dm@billo.systems"))))
     #(repos (
       #(github "sdytr/linat")))))))
#(logging (
   #(log-level debug)
   #(backend lager)
   #(options (#(lager_console_backend debug)))))
