{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.0"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.6.0"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.4.2"}}},
   {econfig, ".*", {git, "git://github.com/benoitc/econfig", {tag, "0.4.2"}}},
   {logjam, ".*", {git, "git://github.com/lfex/logjam", "master"}},
   {lhc, ".*", {git, "git://github.com/sdytr/lhc.git", "master"}},
   {loauth, ".*", {git, "git://github.com/sdytr/loauth.git", "master"}},
   {ljson, ".*", {git, "git://github.com/lfex/ljson.git", "master"}}
  ]}.
